// Place all the styles related to the vehicles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
th {font-weight: bold;
    color:#8B0000;
}
h1 {font-style: oblique;
    color: #DC143C;
}
td {color: #FFD700;
}